*{
  box-sizing: border-box;
}
body{
  background: #6b48ff;
}
.container{
  max-width: 900px;
  margin:auto;
}


#title{
  text-align: center;
  font-size: 46px;
  font-weight: 800;
  color: #fff;
}
#survey-form{
  background: #fff;
  padding: 30px;
}
#description{
  text-align: center;
}
.field{
  margin-bottom: 15px;
}
.field .field-element{
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 50%;
  min-height: 45px;
  line-height: 45px;
  padding: 15px;

}
.field .field-element:nth-child(2){
  width: 48%;
  text-align: left;
}
.field input[type="text"],.field input[type="email"],.field input[type="number"],.field select{
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0px 15px;
  border: 1px solid #f2f4f6;
}

.field textarea{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  height: 100px;
  border: 1px solid #f2f4f6;
  padding: 15px;
}
#submit{
  font-size: 1.2rem;
  padding: 1rem 1.3rem;
  background: #6b48ff;
  color: #fff;
  border: 1px solid #f2f4f6;
  border-radius: 10px;
}
#cancel{
  font-size: 1.2rem;
  padding: 1rem 1.3rem;
  background: #ff7a8a;
  color: #fff;
  border: 1px solid #f2f4f6;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {

  .field .field-element{
    display: block;
    text-align: left;
    width: 100%;
    min-height: 45px;
    line-height: 45px;
    padding: 15px;

  }
  .field .field-element:nth-child(2){
    width: 100%;
    text-align: left;
  }
}
